<% 
    const bodyStyle = "bg-zinc-50 flex items-center justify-center min-h-screen";
    const headingStyle = "text-4xl font-extrabold text-rose-500";
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
    <link rel="stylesheet" href="/css/output.css">
</head>
<body class="<%= bodyStyle %>">
    
    <h1 class="<%= headingStyle %>">
        Tailwind v4 is working perfectly!
    </h1>

</body>
</html>